services:
  - type: web
    name: stylenya-api
    runtime: node
    plan: free
    rootDir: apps/api
    buildCommand: yarn install --production=false && yarn build
    startCommand: yarn start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
